Repository hmcts/div-petitioner-frontend, pull requests merged in 2020-06, with the labels that each got.

#707 WLA-93: Welsh
  app/content/common-cy.json
  app/core/fixtures/content/simple.json
  app/core/steps/Step.js
  app/core/steps/Step.test.js
  app/core/steps/ValidationStep.js
  app/core/steps/ValidationStep.test.js
  app/steps/accessibility-statement/content.json
  app/steps/check-your-answers/index.js
  app/steps/check-your-answers/index.test.js
  app/steps/done-and-submitted/content.json
  app/steps/exit/about-your-marriage/no-certificate-translated/content.json
  app/steps/exit/grounds-for-divorce/desertion/agree/content.json
  app/steps/exit/grounds-for-divorce/separation/content.json
  app/steps/exit/help/with-fees/content.json
  app/steps/exit/jurisdiction/no-connections/content.json
  app/steps/exit/screening-questions/has-marriage-cert/content.json
  app/steps/exit/screening-questions/has-respondent-address/content.json
  app/steps/exit/screening-questions/marriage-date/content.json
  app/steps/exit/statement-of-case/separation-six-month-period/content.json
  app/steps/legal/legal-proceedings/content.json
  app/steps/living-arrangements/live-together/content.json
  app/steps/marriage/date/content.json
  app/steps/marriage/foreign-certificate/content.json
  app/steps/marriage/husband-or-wife/content.json
  app/steps/marriage/names/content.json
  app/steps/marriage/upload/content.json
  app/steps/pay/gov-pay-stub/content.json
  app/steps/petitioner/changed-name/content.json
  app/steps/petitioner/confidential/content.json
  app/steps/petitioner/contact-details/content.json
  app/steps/prayer/claim-costs/content.json
  app/steps/prayer/claim-costs/index.js
  app/steps/prayer/claim-costs/index.test.js
  app/steps/prayer/claim-costs/partials/checkYourAnswersTemplate.html
  app/steps/prayer/claim-costs/template.html
  app/steps/screening-questions/financial-remedy/content.json
  test/end-to-end/data/basicDivorceSessionData.js
Labels: ns:divorce, rel:div-pfe-pr-707

#710 WLA-546: Amend wrong pound sign encoding
  app/steps/done-and-submitted/content.json
  app/steps/financial/arrangements/content.json
  app/steps/help/need-help/content.json
  app/steps/pay/pay-online-only/content.json
  charts/div-pfe/Chart.yaml
  charts/div-pfe/requirements.yaml
  package.json
  yarn.lock
Labels: ns:divorce, rel:div-pfe-pr-710

#711 WLA-547: Remove WebChat from Welsh UI
  app/views/includes/head.html
  app/views/includes/problem_with_this_page.html
Labels: ns:divorce, rel:div-pfe-pr-711

#712 Update Redis
  charts/div-pfe/Chart.yaml
  charts/div-pfe/requirements.yaml
Labels: ns:divorce, rel:div-pfe-pr-712

#714 Pass empty ctx to next()
  app/steps/authenticated/index.js
  app/steps/index/index.js
Labels: ns:divorce, prd:div, rel:div-pfe-pr-714

#715 WLA-566: Amend Welsh Yes/No answers
  app/steps/grounds-for-divorce/adultery/second-hand-information/content.json
  app/steps/grounds-for-divorce/lived-apart-since/content.json
  app/steps/help/need-help/content.json
  app/steps/jurisdiction/last-habitual-residence/content.json
  app/steps/jurisdiction/residual/content.json
  app/steps/marriage/about-your-marriage-certificate/content.json
  app/steps/marriage/in-the-uk/content.json
  app/steps/prayer/claim-costs/content.json
  app/steps/respondent/correspondence/use-home-address/content.json
  app/steps/save-resume/confirm-remove-saved-application/content.json
  app/steps/screening-questions/has-marriage-broken/content.json
  app/steps/screening-questions/has-marriage-cert/content.json
  app/steps/screening-questions/has-respondent-address/content.json
Labels: ns:divorce, prd:div, rel:div-pfe-pr-715

#716 WLA-559: Amend copy on Language question
  app/steps/screening-questions/language-preference/content.json
  app/steps/screening-questions/language-preference/template.html
Labels: ns:divorce, prd:div, rel:div-pfe-pr-716

#717 WLA-564: Add adultery explanation in Welsh
  app/steps/grounds-for-divorce/reason/content.json
Labels: ns:divorce, prd:div, rel:div-pfe-pr-717

#719 Update Readme
  README.md
  config/development_template.yaml
Labels: ns:divorce, prd:div, rel:div-pfe-pr-719
