Repository hmcts/div-petitioner-frontend, pull requests merged in 2021-07, with the labels that each got.

#896 DFR-118 Change postcode lookup url to new service
  app/services/postcodeInfo.js
  app/steps/marriage/date/content.json
  charts/div-pfe/Chart.yaml
  charts/div-pfe/values.yaml
  config/example-local-aat.yml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
Labels: ns:divorce, prd:div, rel:div-pfe-pr-896

#897 Dfr 123 fix webchat session close
  app.js
  app/assets/javascripts/webchat.js
  app/assets/sass/_web-chat.scss
  app/steps/avaya-webchat/content.json
  app/steps/avaya-webchat/index.js
  app/steps/avaya-webchat/template.html
  app/views/includes/scripts.html
  charts/div-pfe/Chart.yaml
  charts/div-pfe/values.aat.template.yaml
  charts/div-pfe/values.demo.template.yaml
  charts/div-pfe/values.preview.template.yaml
  charts/div-pfe/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  sonar-project.properties
Labels: ns:divorce, prd:div, rel:div-pfe-pr-897

#899 Dfr 152 gov webchat link
  app.js
  app/views/contact-divorce.html
  app/views/includes/problem_with_this_page.html
  app/views/includes/web_chat.html
  config/default.yaml
  sonar-project.properties
Labels: ns:divorce, prd:div, rel:div-pfe-pr-899
