Repository hmcts/div-petitioner-frontend, pull requests merged in 2022-02, with the labels that each got.

#937 dfr-37-prod-cookie-domain
  app/assets/javascripts/cookiesManager.js
Labels: ns:divorce, prd:div, rel:div-pfe-pr-937

#952 Update cookiesManager.js
  app/assets/javascripts/cookiesManager.js
Labels: ns:divorce, prd:div, rel:div-pfe-pr-952

#950 DFR-779 Confidential address fix
  app/steps/check-your-answers/index.js
  app/steps/petitioner/contact-details/index.js
  app/steps/respondent/correspondence/address/index.js
  app/steps/respondent/correspondence/use-home-address/index.test.js
  app/steps/respondent/home/address/index.js
  charts/div-pfe/values.preview.template.yaml
Labels: ns:divorce, prd:div, rel:div-pfe-pr-950

#920 DFR-610: removing the feature toggles welsh
  .eslintrc.json
  app/core/utils/featureToggle.test.js
  app/routes/featureToggles.js
  app/steps/amendment-explanatory-page/template.html
  app/steps/authenticated/index.js
  app/steps/authenticated/index.test.js
  app/steps/check-your-answers/index.js
  app/steps/check-your-answers/index.test.js
  app/steps/index/index.js
  app/steps/index/index.test.js
  app/steps/issued-to-bailiff/template.html
  app/steps/service-application-not-approved/template.html
  app/views/layout.html
  config/default.yaml
  test/end-to-end/data/aosDraftedSession.js
  test/end-to-end/data/basicDivorceSessionData.js
  test/end-to-end/data/issuedToBailiffSession.js
  test/end-to-end/data/serviceApplicationNotApprovedSession.js
  test/end-to-end/helpers/SessionHelper.js
Labels: ns:divorce, prd:div, rel:div-pfe-pr-920

#963 Dependencies
  charts/div-pfe/Chart.yaml
  yarn-audit-known-issues
Labels: ns:divorce, prd:div, rel:div-pfe-pr-963

#966 fix dependency issue
  yarn-audit-known-issues
Labels: ns:divorce, prd:div, rel:div-pfe-pr-966

#957 DFR-881 Parameterise cookie domain
  app/assets/javascripts/application.js
  app/assets/javascripts/cookiesManager.js
  charts/div-pfe/Chart.yaml
  charts/div-pfe/values.demo.template.yaml
  charts/div-pfe/values.preview.template.yaml
  charts/div-pfe/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  server.js
  webpack.config.js
Labels: ns:divorce, prd:div, DO NOT MERGE, rel:div-pfe-pr-957

#975 Update yarn-audit-known-issues
  yarn-audit-known-issues
Labels: ns:divorce, prd:div, rel:div-pfe-pr-975

#979 Update Node Chart.yaml
  charts/div-pfe/Chart.yaml
Labels: ns:divorce, prd:div, rel:div-pfe-pr-979
