Repository hmcts/div-petitioner-frontend, pull requests merged in 2022-05, with the labels that each got.

#1017 DFR-1045 Update contactCenterClosed text
  app/assets/locale/locale_en-GB.json
Labels: ns:divorce, prd:div, rel:div-pfe-pr-1017

#1018 Autoscaling
  charts/div-pfe/Chart.yaml
  charts/div-pfe/values.yaml
Labels: ns:divorce, prd:div, rel:div-pfe-pr-1018

#1003 DFR-885 Reinstate redirect
  app/core/steps/AppCutoffScreeningValidationStep.js
  app/core/steps/AppCutoffScreeningValidationStep.test.js
  app/middleware/redirectMiddleware.js
  app/middleware/redirectMiddleware.test.js
  app/steps/authenticated/index.js
  app/steps/authenticated/index.test.js
  app/steps/cutoff-landing-page/index.js
  app/steps/cutoff-landing-page/index.test.js
  app/steps/cutoff-landing-page/schema.json
  app/steps/index/index.js
  app/steps/index/index.test.js
  app/steps/screening-questions/language-preference/index.js
  charts/div-pfe/Chart.yaml
  charts/div-pfe/values.preview.template.yaml
  charts/div-pfe/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  sonar-project.properties
Labels: ns:divorce, prd:div, rel:div-pfe-pr-1003
